html {
  height: -webkit-fill-available;
  background: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: #000000;
}

.mr5 {
  margin-right: 5px;
}
.mr8 {
  margin-right: 8px;
}
.mrl5 {
  margin-left: 5px;
  margin-right: 5px;
}

.debug {
  color: #ffffff;
}
.debug-count {
  text-align: center;
  font-size: 100px;
  margin-top: 10px;
  color: #ffffff;
}
.debug-box {
  text-align: center;
}
.debug-text {
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
}
