.form-container{
  border: 1px solid white;
  width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 10px;
  padding: 25px;
}
.form-group > label{
  color: white;
}
.input-control {
  margin-bottom: 20px;
}
.go-regist {
  font-size: 14px;
  text-align: right;
}
.form-button > button{
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.btn-danger{
  background-color: #EB2119;
  border-color: #EB2119;
}