.form-container{
  border: 1px solid #2f2f2f;
  width: 500px;
  margin: 0 auto;
  margin-top: 120px;
  border-radius: 10px;
  padding: 25px;
}
.form-group > label{
  color: white;
}
.input-control {
  margin-bottom: 20px;
}
.go-regist {
  font-size: 14px;
  text-align: right;
  margin-top: -10px;
}
.go-regist > a:link { text-decoration: none; color: #5a84ff; }
.go-regist > a:visited { text-decoration: none; color: #5a84ff; }
.go-regist > a:active { text-decoration: none; color: #5a84ff; }
.go-regist > a:hover { text-decoration: none; color: #5a84ff; }

.form-button > button{
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.btn-danger{
  background-color: #EB2119;
  border-color: #EB2119;
}
