.main-container{
  width: 100%;
  display: flex;
  height: 860px;
  padding-top: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.main-content {
  flex: 1;
  background: #000000;
  color: #ffffff;
  padding-right: 15px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.main-history {
  height: -webkit-fill-available;
  flex: 1;
  background: #000000;
  color: #ffffff;
}
.hanja-container {
  height: 150px;
  border-bottom: solid 3px #000000;
}
.hanja-box {
  max-width: 500px;
  text-align: center;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.sendbox-container {
  display: flex;
}
.x {
  margin-left: 15px;
  margin-right: 5px;
  color: #ffffff;
}
.y {
  width: 120px;
  margin-left: 5px;
}
.chat-title {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.chat-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
}
.history-title {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  color: #dadada;
}
.history-txt{
  text-align: center;
}
.history-content {
  padding-left: 20px;
  padding-right: 20px;
}
.history-box {
  border: solid 1px #626262;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}
.flex {
  display: flex
}
.flex-default {
  flex: 1;
  text-align: center;
}
.history-time {
  text-align: center;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 12px;
}
.check-title {
  margin-left: 8px;
  font-size: 16px;
  font-weight: bold;
}
.green {
  color: #4be04b;
}
.chat-title-font {
  margin-left: 8px;
  font-size: 15px;
  font-weight: bold;
}
.dotdot {
  margin-left: 5px;
  margin-top: 15px;
  color: #ff8900;
}
.support-text{
  text-align: center;
  font-size: 14px;
  margin-bottom: 35px;
  color: #e5d7ff;
}
.progress-container{
  margin-left: 15px;
  margin-bottom: 10px;
}
.progress-bar{

}
.nologin {
  text-align: center;
}
.history-null {
  text-align: center;
  margin-top: 10px;
}
.history-null-img {
  border-radius: 35px;
  width: 220px;
}
.history-null-txt {
  margin-top: 235px;
}
.tac {
  text-align: center;
}
.kanji-null-img {
  margin-top: -30px;
  width: 200px;
}
.kanji-null-ttt {
  font-size: 14px;
  margin-top: -40px;
  color: #ff4a4a;
}
.chat-null-txt {
  margin-top: 100px;
}


.c-row {
  margin-bottom: 3px;
  border: solid 1px #626262;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  min-width: 320px;
}
.c-name {
  margin-right: 3px;
}
.c-rank {
  background: #c81e1e;
  padding: 2px;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 1px;
}
.c-jlpt {
  background: #ff6a6a;
  padding: 2px;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 6px;
  padding-right: 8px;
  margin-right: 1px;
}
.c-point {
  background: #2196f3;
  padding: 2px;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 6px;
  padding-right: 8px;
  margin-right: 1px;
}
.c-content {
  white-space: nowrap;
  min-width: 580px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
}
.c-date {
  font-size: 12px;
  color: #bdc0ff;
  text-align: right;
}
.mobile-header {
  display: none;
}
.connect-info {
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}
.p-color {
  color: #ff2424;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .main-container {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .header-container {
    display: none;
  }
  .mobile-header {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .btn {
    font-size: 12px;
  }
  .nologin {
    font-size: 12px;
  }
}
@media screen and (max-width: 850px) {
  .c-content {
    width: 500px
  }
}
@media screen and (max-width: 650px) {
  .c-content {
    width: 400px
  }
}
@media screen and (max-width: 550px) {
  .c-content {
    width: 300px
  }
}
