.mypage-box {
  color: #ffffff;
  margin-top: 70px;
}
.mypage-con{
  text-align: center;
}
.mypage-img {
  width: 200px;
}
.mypage-table {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  color: #ffffff;
}
.progress-left{
  width: 60%;
  float: left;
}
.progress-txt {
  float: left;
  margin-left: 15px;
  margin-top: -4px;
}
@media screen and (max-width: 650px) {
  .mypage-table {
      width: 100%;
  }
}
