// config/config.js
module.exports = {
  database: {
    host     : 'xxx',
    user     : 'xxx',
    password : 'xxx',
    port     : 3306,
    database : 'xxx'
  },
  socketio: 'http://localhost:4000',
  logging: {
    debug: true,
    info: true,
    error: true,
  },
  secret: 'helloworld',
  jlpt_point: {
    n1: 5,
    n2: 4,
    n3: 3,
    n4: 2,
    n5: 1
  }
};
