.footer-container {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: white;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 12px;
   font-size: 12px;
   display: none;
}
