.header-container {
  background-color: #000000;
  -webkit-display:flex;
  display: flex;
  width:100%;
  height: 50px;
}
.header-flex-logo {
  font-weight: bold;
}
.mt15 {
  margin-top: 15px;
}
.h-item {
  flex: 0.4;
  text-align: center;
}
.h-menu {
  flex: 0.2;
  text-align: center;
  font-size: 15px;
}
.h-sub {
  flex: 0.6;
  text-align: center;
}
.header-subinfo-version {
  color: #aadaff;
  font-size: 12px;
}
.header-subinfo-github {
  color: #ffffff;
  margin-left: 15px;
}
.header-subinfo-github > a {
  margin-left: 5px;
  font-size: 14px;
}
.header-flex-item > a {
  transition: 0.3s;
}

.header-flex-item > a:link { text-decoration: none; color: #ffffff; }
.header-flex-item > a:visited { text-decoration: none; color: #ffffff; }
.header-flex-item > a:active { text-decoration: none; color: #ffffff; }
.header-flex-item > a:hover { text-decoration: none; color: #fbb4b4; }

.header-subinfo-github > a:link { text-decoration: none; color: #ffffff; }
.header-subinfo-github > a:visited { text-decoration: none; color: #ffffff; }
.header-subinfo-github > a:active { text-decoration: none; color: #ffffff; }
.header-subinfo-github > a:hover { text-decoration: none; color: #ffffff; }

.header-flex-logo > a:link { text-decoration: none; color: red; }
.header-flex-logo > a:visited { text-decoration: none; color: red; }
.header-flex-logo > a:active { text-decoration: none; color: red; }
.header-flex-logo > a:hover { text-decoration: none; color: red; }

.study {
  margin-left: 5px;
}
